<!DOCTYPE html>
<html>
<head>
    <title>Available Movies</title>
</head>
<body>
    <h1>Available Movies</h1>
    {% for movie in movies %}
        <div style="margin-bottom: 20px;">
            <img src="{{ url_for('static', filename='images/' + movie.image) }}" width="200"><br>
            <strong>{{ movie.title }}</strong><br>
            Show Time: {{ movie.show_time }}<br>
            Price: ₹{{ movie.price }}<br>
            Rating: {{ movie.rating }}<br>
            <a href="{{ url_for('book_movie', title=movie.title) }}">Book Now</a>
        </div>
    {% endfor %}
</body>
</html>
