=<!DOCTYPE html>
<html>
<head><title>Register</title></head>
<body>
  <h1>Register for M4You</h1>
<form action="/register" method="POST">
  <input type="text" name="fname" placeholder="First Name" required />
  <input type="text" name="lname" placeholder="Last Name" required />
  <input type="email" name="email" placeholder="Email" required />
  <input type="password" name="setPwd" placeholder="Password" required />
  <input type="password" name="confirmPwd" placeholder="Confirm Password" required />
  
  <button class="btn" type="submit">Register</button>
  
  <div class="link">
    <p>Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
  </div>
</form>
  <p>Already registered? <a href="{{ url_for('login') }}">Login</a></p>
</body>
</html>
